.main {
  display: flex;
  height: 100vh;
}

.main__side {
  background-color: #efefef;
  width: 15rem;
}

.main__side__search {
  margin: 0.5em 0;
}

.main__side__input {
  padding: 0.5em;
  background-color: transparent;
  outline: 0;
  border: none;
}

.main__side__filter {
  display: flex;
  flex-direction: column;
}

.main__side__button {
  outline: none;
  font-size: large;
  border: 0.5px solid #999;
  padding: 0.8em;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.main__side__button:hover {
  background-color: #e42176;
  color: #fff;
}

.main__right {
  flex: 1;
  margin: 1em;
  margin-left: 2em;
}

.main__right__top {
  margin-bottom: 2em;
}

.main__right__top_detail {
  margin-left: 5em;
  text-decoration: none;
  color: #e42176;
}

.main__right__top_detail:hover {
  text-decoration: underline;
}
