.main {
  display: flex;
  height: fit-content;
}

.main__side {
  margin-left: 2em;
  margin-top: 1em;
  background-color: #efefef;
  width: 12rem;
  max-width: 20rem;
}

.main__side__filter {
  display: flex;
  flex-direction: column;
}

.main__side__button {
  outline: none;
  padding: 0.8em;
  cursor: pointer;
  border: none;
  width: auto;
  border-bottom: 3px solid #a50225;
  transition: all 100ms ease-in;
}

.main__side__button:hover {
  background-color: #e42176;
  color: #fff;
}

.main__right {
  flex: 1;
  margin: 1em;
  margin-left: 2em;
}

.main__right__top {
  margin-bottom: 2em;
}

.main__right__top_detail:hover {
  text-decoration: underline;
}
