.ProductHome {
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 1em;
  width: 15em;
  height: 15em;
  transition: all 200ms;
}

.ProductHome__link {
  text-decoration: none;
}

.ProductHome__img {
  width: 80%;
  height: 80%;
  margin-bottom: 0.5rem;
  transition: all 200ms;
  text-align: center;
}

.ProductHome__img:hover {
  transform: scale(1.05);
}

.ProductHome__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProductHome p {
  font-size: small;
  color: #333;
}
